.modal{
    z-index: 100;
    position: fixed;
    top: 15vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 8px;
}
.modal_header{
    width: 100%;
    padding: 1rem 0.5rem;
    background: #e40000;
    text-align: center;
    color: white;
}
.modal_content{
    padding:0rem;
    width: 100%;
    overflow: hidden;
}
.modal_footer{
    padding: 1rem 0.5rem;

}
@media (min-width:760px){
    .modal{
        left: calc(50% - 20rem);
        width: 40rem;
    }
}
.modal-enter{
    transform: translateY(-10rem);
    opacity: 0;
}
.modal-enter-active{
    transform: translateY(0rem);
    opacity: 1;
    transition: all 200ms;
}
.modal-exit{
    transform: translateY(0);
    opacity: 1;
}
.modal-exit-active{
    transform: translateY(10rem);
    opacity: 0;
    transition: all 200ms;
}