main{
    width: 100%;
    display: grid;
    grid-template-columns: 300px calc(100vw - 600px - 30px) 300px;
    padding-inline: 15px;
    margin-top: 4rem;
    // border: 1px solid red;
    position: relative;
    >*{
        // border: 1px solid blue;
        overflow: hidden;
    }
    .sidebar{
        height: max-content;
        position: sticky;
        top: 4rem;
    }
    .main-content{

    }
    aside{
        height: max-content;
        position: sticky;
        top: 4rem;
    }
}

@media screen and (max-width:1024px) {
   main{
    grid-template-columns: 180px calc(100vw - 360px - 30px) 180px;
   }
}
@media screen and (max-width:600px) {
    main{
        grid-template-columns: 1fr;
        .sidebar{
            display: none;
        }
        .main-content{
            
        }
        aside{
            display: none;
        }
    }
}