.add-new-place{
    // border: 1px solid red;
    width: 100%;

}
.new-place-form{
    width: 90%;
    // border: 1px solid blue;
    // margin: 15px auto;
    margin: 15px auto;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;

    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    .btn{
        border: 1px solid hsl(350, 100%, 59%);
        margin: 1px;
        font-size: 1rem;
        background-color: hsl(350, 100%, 59%);
        color: white;

        &:hover{
            background-color: white;
            color: hsl(350, 100%, 59%);
        }
    }
}

